<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @admin_event.first_name %> tu as une inscription à ton event !</h1>
    <p>
      Tu t'es inscrit sur <%= @url %> en utilisant l'e-mail suivant : <%= @admin_event.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur <%= @url %> !
  </body>
</html>