<div style="height:100px"></div>

<h1>PROFIL</h1>


<ul>
  <% if user_signed_in? %>
    <li>
      first_name : <%= current_user.first_name %>
    </li>
    <li>
      last_name : <%= current_user.last_name %>
    </li>
    <li>
      description : <%= current_user.description %>
    </li>
    <li>
      Voici ton email : <%= current_user.email %>
    </li>
    <li>
      <%= link_to "Secret page", home_secret_path %>
    </li>
    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>
  <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>
    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>
  <% end %>
</ul>
